@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet');

body {
  font-family: "NanumSquare";
}

[data-overlay-container] {
  width: 100%;
  justify-content: center;
  align-items: center;
}
